/* ==========================================================================
1. FONTES, CORES E ANIMAÇÕES
========================================================================== */

:root {
    --cor-principal: #0272BD;
    --cor-segundo: #737373;

    --font-texto: "Montserrat-regular", sans-serif;
    --font-titulo: "Montserrat-medium", sans-serif;
    --font-titulo2: "Montserrat-bold", sans-serif;

    --transicao-padrao: all 0.5s ease;
}

@font-face {
    font-family: "Montserrat-regular";
    src: url(./Fontes/Montserrat/static/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-medium";
    src: url(./Fontes/Montserrat/static/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-bold";
    src: url(./Fontes/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ==========================================================================
2. RESET CSS
========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


/* ==========================================================================
3. MENU
========================================================================== */

.menu {
    padding-top: 2rem;
}

.menu .container-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    height: 80px;
    margin-left: 2rem;
}

.menu .secao {
    display: flex;
    justify-content: space-between;

    gap: 5rem;

    font-size: 2rem;

    margin-right: 2rem;
}

.menu .secao a {
    color: var(--cor-principal);
    transition: var(--transicao-padrao);

    font-family: var(--font-texto);
    text-decoration: none;
}

.menu .secao a:hover {
    color: var(--cor-segundo);
    transform: scale(1.1);
}

/* ==========================================================================
4. BANNER
========================================================================== */

.banner {
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.banner img {
    width: 100%;
    object-fit: cover;  
}

/* ==========================================================================
5. SOBRE
========================================================================== */

.sobre .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-texto {
    max-width: 1200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 5rem;
}
 
.sobre-texto h1 {
    font-family: var(--font-titulo);
    color: var(--cor-principal);
    font-size: 2.5rem;
}

.sobre-texto p {
    font-family: var(--font-texto);
    font-size: 1.8rem;
    color: var(--cor-segundo);

    text-align: center;
    padding: 1.8rem;
}

.sobre-texto .texto1 {
    margin-top: 2rem;
}

/* ==========================================================================
6. DADOS
========================================================================== */

.dados .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 5rem;
}

.dados h1 {
    font-family: var(--font-titulo);
    font-size: 2.5rem;
    color: var(--cor-principal);

    margin-bottom: 5rem;
}

.cards-grid {
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-icon {
    font-size: 2em;
    margin-bottom: 15px;
}

.card-number {
    font-family: var(--font-titulo);
    font-size: 2em;
    font-weight: bold;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.card-title {
    font-family: var(--font-titulo);
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.card-description {
    font-family: var(--font-texto);
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

/* ==========================================================================
7. CONHEÇA
========================================================================== */

.inclusão .container-grid{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 5rem;

}

.inclusão h1 {
    font-family: var(--font-titulo);
    font-size: 2.5rem;
    color: var(--cor-principal);

    margin-bottom: 4rem;
}

.inclusão p {
    max-width: 1200px;
    
    font-family: var(--font-texto);
    font-size: 1.8rem;
    color: var(--cor-segundo);

    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.links-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.link-card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.link-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.link-card-icon {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.link-card-title {
    font-family: var(--font-titulo);
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.link-card-description {
    font-family: var(--font-texto);
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    flex-grow: 1;
}

.link-card-button {
    background: var(--cor-principal);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: var(--font-texto);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.link-card-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px var(--cor-principal)
}

/* <!-- ==========================================================================
6. FOOTER
========================================================================== --> */

footer {
    background-color: var(--cor-principal);

    height: 10.5rem;
    
}

footer .elementos-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    padding: 2rem;
}

footer .elementos-footer p {
    font-family: var(--font-texto);
    font-size: 1.5rem;
    color: white;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font-texto);
}

.instagram span {
    transition: var(--transicao-padrao);
}


.insta-svg {
    height: 40px;
    width: 40px;

    transition: var(--transicao-padrao);
}

.instagram:hover {
    color: #93E1D8;
}

/* faz o SVG herdar a cor do link */
.instagram span:hover .insta-svg {
    color: #93E1D8;
}


/* ==========================================================================
7. RESPONSIVIDADE GERAL DO SITE
========================================================================== */

/* ----------- Telas muito grandes (acima de 1920px) ----------- */
@media (min-width: 1920px) {
    .container-grid {
        max-width: 1600px;
    }

    .banner {
        height: 70vh;
    }
}

/* ----------- Tablets grandes / Notebooks (até 1280px) ----------- */
@media (max-width: 1280px) {

    .menu .secao {
        gap: 3rem;
        font-size: 1.6rem;
    }

    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
    }

    .links-cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ----------- Tablets pequenos (até 992px) ----------- */
@media (max-width: 992px) {

    .menu img {
        height: 60px;
    }

    .menu .secao {
        gap: 2.2rem;
        font-size: 1.4rem;
    }

    .banner {
        height: 45vh;
    }

    .sobre-texto p {
        font-size: 1.5rem;
        padding: 1.2rem;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
    }

    .link-card {
        min-height: 350px;
        padding: 25px;
    }

    .link-card-title {
        font-size: 1.4rem;
    }

    .link-card-description {
        font-size: 1rem;
    }

}


/* ----------- Celulares grandes (até 768px) ----------- */
@media (max-width: 768px) {

    /* MENU vira coluna */
    .menu .container-grid {
        flex-direction: column;
        gap: 1rem;
    }

    .menu img {
        margin-left: 0;
        height: 55px;
    }

    .menu .secao {
        margin-right: 0;
        gap: 2rem;
        font-size: 1.3rem;
    }

    .banner {
        height: 35vh;
    }

    .sobre-texto {
        margin-top: 0rem;
    }

    .sobre-texto h1,
    .dados h1,
    .inclusão h1 {
        font-size: 2rem;
    }

    .sobre-texto p,
    .inclusão p {
        font-size: 1.3rem;
    }

    /* Cards viram 1 por linha */
    .cards-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 450px;
    }

    .link-card {
        min-height: auto;
    }

    .links-cards-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    footer {
        height: auto;
    }

    footer .elementos-footer p {
        font-size: 1rem;
    }
    
    footer img {
        height: 60px;
    }

    footer .elementos-footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }

    .insta-svg {
        width: 30px;
        height: 30px;
    }

    .instagram {
        font-size: 1.2rem;
    }
}


/* ----------- Celulares pequenos (até 480px) ----------- */
@media (max-width: 480px) {

    .menu img {
        height: 50px;
    }

    .menu .secao {
        gap: 1.5rem;
        font-size: 1.1rem;
    }

    .banner {
        height: 30vh;
    }

    .sobre-texto p {
        font-size: 1.15rem;
        padding: 1rem;
    }

    .card {
        padding: 20px;
    }

    .card-number {
        font-size: 1.6rem;
    }

    .link-card-button {
        padding: 12px;
        font-size: 0.9rem;
    }

    footer p {
        font-size: 1.2rem;
    }
}

